@font-face {
  font-family: "pokemon_solidnormal";
  src: url("../font/pokemon_solid-webfont.woff2") format("woff2"),
    url("../font/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.img_home_head {
  
  width: auto;
}


.presentation {
  padding: 1em 5em;
  text-align: center;

  .read-more {
    background-color: white;
    border: 0;
    color: $jaunepoke;
    text-align: end;
    margin-top: 1em;
    &::before {
      content: "+";
      margin-right: 0.5em;
    }
    &:hover {
      color: $bleunuit;
    }
  }
}

.section-home {
  margin: 4em 0;
  .zoom-img {
    overflow: hidden;

    img:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease;
      padding: 0;
    }
  }
}

h2 {
  font-family: "pokemon_solidnormal";
  color: $jaunepoke;
  -webkit-text-stroke: 2.5px $bleunuit;
  margin: 10px;
  &::before {
    @include icon(50px, '../images/images_home/pokeball.png');
    margin-right: 0.5em;
    vertical-align: middle
 
  }
}

.button {
  @include button();
}

@include media-breakpoint-up(md){
  .read-more {
    @include visually-hidden;
  }
  #content_collapse {
    visibility: visible;
  }
}

@include media-breakpoint-down(md){
 
}


