@font-face {
    font-family: "pocketMonk";
    src: URL("../font/PocketMonk.ttf") format("truetype");
  }
body {
    background-color: $verylightgray !important;
}

.cont-1 {
    width: 90%;
}
.cont-2 {
    padding: 0 !important;
     .img-super {
        transition: transform 1s;
     }

    &:hover > .img-super {
        transform: rotate(360deg) translateZ(0);
    }
}
.cont-3 {
     .img-super {
        transition: transform 1s;
     }

    &:hover > .img-super {
        transform: rotate(360deg) translateZ(0);
    }
}
.cont-4 {
    .img-super {
       transition: transform 1s;
    }

   &:hover > .img-super {
       transform: rotate(360deg) translateZ(0);
   }
}

main {
    margin: 20px 30px;

    // Titre h1 avec la pokeball devant, la pokeball est cachée dans la version  mobile, une autre pokeball apparait au dessus
    h1 {
        font-family: pocketMonk;
        color: $jaunepoke;
        -webkit-text-stroke: 1.5px $bleu;
        letter-spacing: 0px;
        font-size: 38px;
        margin-top: 14px;
        
 
        &::before {
            @include visually-hidden();
        }
    }

    p {
        margin-top: 40px;
    }

    // pareil que pour le h1
    h2 {
        font-family: pocketMonk;
        color: $jaunepoke;
        -webkit-text-stroke: 1.5px $bleu;
        letter-spacing: 0px;
        font-size: 32px;
        margin-top: 10px;
        text-align: center;
        &::before {
            @include icon(34px, "../images/imagesCartes/superBall.png");
            @include visually-hidden();
        }
    }
}

.img-super {
    height: 40px;
    margin-top: 20px;
}

.img-indigo {
    width: 70%;
    max-width: 360px;
    margin: 40px auto;
}

main {
    p {
        margin-top: 10px;
        text-align: center;
    }
    h3 {
        font-size: 19px;
        color: $bleu;
        width: 206px;
        border-right: 2px solid $jaunepoke;
        border-left: 2px solid $jaunepoke;
        padding: 4px 8px 5px 12px;
        margin: 20px auto;
    }

}

.text-s1 {
    margin-top: 40px;
}

// les conteneurs des saisons sont en colonne en version mobile et passent en row dans les versions supérieures
.cont-saison2 {
    flex-direction: column;
    width: 90%;

    img {
        width: 70%;
        max-width: 360px;
        margin: 40px auto;
    }
    a {
        font-weight: 600;
    }
}


.cont-saison1 {
    flex-direction: column;
    width: 90%;

    a {
        font-weight: 600;
    }
}

.button-ep {
    @include button();
}






