@font-face {
  font-family: "pokemon_solidnormal";
  src: url("../font/pokemon_solid-webfont.woff2") format("woff2"),
    url("../font/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.img_home_head {
  height: 12em;
  width: 100%;
}

.presentation,
.hide {
  padding: 1em 5em;
  text-align: center;

  .read-more {
    background-color: white;
    border: 0;
    color: $jaunepoke;
    text-align: end;
    margin-top: 1em;
    &::before {
      content: "+";
      margin-right: 0.5em;
    }
    &:hover {
      color: $bleunuit;
    }
  }
  .collapside{
    outline: none;
  }
  .content-collapse {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
}

.section-home {
  margin: 4em 0;
  .zoom-img {
    overflow: hidden;

    img:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease;
      padding: 0;
    }
  }
}

h2 {
  font-family: "pokemon_solidnormal";
  color: $jaunepoke;
  -webkit-text-stroke: 2.5px $bleunuit;
  margin: 10px;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    width: 50px;
    height: 59px;
    background: url(../images/images_home/pokeball.png) no-repeat;
    background-size: 100%;
  }
}

.button {
  @include button();
}

@media screen and (min-width: 768px) {
  .img_home_head {
    height: 25em;
    width: 80%;
  }
  // .read-more {
  //  // @include hideSR;
  // }
}

@media screen and (max-width: 768px) {
  // .hide {
  //   @include hideSR;
  // }
}
