@import "./indexCommon.scss"; // Importation de l'index scss

body{
  background: $verylightgray; // Définit un background à body
}
.poketitle {
  font-family: "pocketMonk"; // Change la police
  color:$jaunepoke; // Change la couleur du texte
  -webkit-text-stroke: 1px $bleunuit; // Ajoute des bordures au texte 
  margin: 30px; // Définit la taille des marges sur les quatre côtés 
  font-size: 180%; // Définit la taille de font utilisée pour le texte 
}
.mainBall{ // Ajout de l'image pokeball devant le titre principal
  @include icon (50px,"../images/images_home/pokeball.png");
}
.secondBall{ // Ajout de l'image masterball devant le titre principal
  @include icon(25px, "../images/img_game/Mball.png");
}
.textIntro{
  text-align: center; //Centre le texte d'introduction
}
#rondou{ //Redimension de l'image rondoudou et changement du curseur
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
}
#tryme{ 
  font-family: "pocketMonk"; // Change la police de l'id indiqué
  color:$jaunepoke; // Change la couleur du texte de l'id indiqué
  -webkit-text-stroke: 1px $bleunuit; // Ajoute des bordures au texte de l'id indiqué
}
.jacketGames { 
  width: 60%; // Définit la lageur pour la classe indiqué
  height: auto; // Définit la hauteur pour la classe indiqué
  border: 2px solid black; // Ajout de bordure pour la classe indiqué 
}
h3 {
  text-align: center; // Définit l'alignement des h3 au centre
}


@import "./mediaQueryGames.scss";

.cardGame {
  perspective: 1000px; // Crée virtuellement une dimension
  p{
    text-align: center; //Centre le texte pour chaque card
    color: transparent; // Définit une couleur transparante au paragraphe
    padding: 15px; // Définiy les différents écarts de remplissage sur les quatre côtés de mon paragraphe
    margin-top: 10px; // Définit la taille de la marge sur le haut
  }
  &:hover{
    p{
      color: black; // Au hover la couleur du texte devient noir
      background: $jaunepoke; // Au hover la couleur du background du texte devient jaune
    }
  }
}
.jacketResize{
  max-height: 200px; // Définit la hauteur maximum de la boîte de contenu d'un élément
}
.contentCardGame {
  display: flex; // Définit un conteneur flexible 
  flex-direction: column; // L'axe principal est défini en colonne
  align-items: center; // Permet d'aligner les objets flexibles au centre 
  justify-content: center; // Indique la façon dont l'espace doit être réparti entre et autour des éléments selon l'axe principal
  background: #3b5ba7; // Définit un background à la classe indiqué 
  border-radius: 25px; // Définit des coins arrondis pour la bordure d'un élément
  transition: all 0.15s ease-out; // Définit un effet de transition 
  width: 315px; // Définit la lageur pour la classe indiqué
  height: 400px; // Définit la hauteur pour la classe indiqué
  border: 5px solid $jaunepoke; // Ajout de bordure pour la classe indiqué 
  box-shadow: 0 0 1em rgb(12, 12, 12); // Ajout des ombres à la boîte d'un élément
  h4{
    text-align: center; //Centre le texte h4
    padding: 10px; // Définiy les différents écarts de remplissage sur les quatre côtés de mon h4
    color: $jaunepoke; // Change la couleur de h4
  }
}

.glow{
  position: absolute; // Définit une postion absolue pour la classe indiqué 
  top: 0; // Définit la position en haut de l'élément 
  left: 0; // Définit la position à gauche de l'élément 
  width: 100%; // Définit la lageur pour la classe indiqué
  height: 400px; // Définit la hauteur pour la classe indiqué
  transition: all 0.15s ease-out; // Définit un effet de transition 
  border-radius: 25px; // Définit des coins arrondis pour la bordure d'un élément
  mix-blend-mode: hard-light; // Atténu la luminosité avec le blend mode
  background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.5), transparent); // Ajoute un background 
  opacity: 0; // Définit la transparence à 0
  &:hover{
    opacity: 1; // Au survol de la classe définit la transparence à 1
  }
}
