@font-face {
  font-family: "pokemonSolid";
  src: URL("../font/PocketMonk.ttf") format("truetype");
}
@import "./variables.scss";

@import "./mixins.scss";

@import "./navbar-burger-menu.scss";

.poketitle {
  font-family: "pokemonSolid";
  color: #ffcb05;
  -webkit-text-stroke: 1px #3b5ba7;
  margin: 10px;
  font-size: 180%;
}
.textIntro{
  text-align: center;
}
#firstPokeBall {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.masterBall {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.jacketGames {
  max-width: 140px;
  max-height: 140px;
}
h3 {
  text-align: center;
}


@import "./mediaQueryGames.scss";

.cardGame {
  perspective: 1000px; // Crée virtuellement une dimension
}

.contentCardGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: #3b5ba7;
  padding: 5ch;
  border-radius: 15px;
  transition: all 0.15s ease-out;
  width: 315px;
  height: 400px;
  border: 5px solid #ffcb05;
  box-shadow: 0 0 1em rgb(12, 12, 12);
  h4{
    text-align: center;
    padding: 10px;
    color: #ffcb05;
  }
}
