// sass --watch .\scss\indexCommon.scss .\css\indexCommon.css
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./variables.scss";

@import "./mixins.scss";

@import "./navbar-burger-menu.scss";

@import "./footer.scss";

.titre {
    //Changement de la police en pokemon
    font-family: "pocketMonk";
    color: $jaunepoke;
    -webkit-text-stroke: 2px $bleunuit;
    font-size: 38px;
    //Ajout d'une pokeball devant le titre
}
.pokeball {
    @include icon(50px, "../images/images_home/pokeball.png");
}
main {
    font-family: "Roboto", sans-serif;
}
