@include media-breakpoint-down(md) {
    .cardGames {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}
@include media-breakpoint-up(md) {
    .cardGames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
}

