
// en dessous de "lg"= 992px toutes les flex box passent en colonne
// il y a 2 fois l'image des iles orange dans le html, en mobile l'image est au dessus du texte et en version supérieure
// l'image est à droite du texte donc en dessous en html
@include media-breakpoint-down(lg) {
main {
    p {
        text-align: center;
    }
}
.cont-2 {
    flex-direction: column;
    align-items: center;
}
.cont-3 {
    flex-direction: column;
    align-items: center;
}
.cont-4 {
    flex-direction: column;
    align-items: center;
}
.img-s2-big {
    @include visually-hidden();
}

}

// au dessus de "lg" = 992px les flex box passent en "row"
@include media-breakpoint-up(lg) {
    main {
        h1 {
            margin-left: 20px;
            margin-top: 20px;
        }
        h2 {
            margin-top: 26px;
            margin-left: 20px;
        }
        p {
            text-align: left;
        }
    }
    .cont-saison1 {
        flex-direction: row;

        section {
            margin-left: 100px;
        }
    }
    .img-s2-lit {
        @include visually-hidden();
    }
    .cont-saison2 {
        flex-direction: row;
        align-items: center;
        section {
            margin-right: 100px;
        }
    }
    
       
}