@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/mixins/visually-hidden";

@mixin button {
  padding: 0.7em 1em;
  margin: 2em 0;
  text-transform: uppercase;
  border: none;
  position: relative;
  color: $bleunuit;
  background-color: transparent;
  text-decoration: none;
  &::before {
    position: absolute;
    content: "";
    border-top: solid 3px $bleunuit;
    border-left: solid 3px $bleunuit;
    width: 10%;
    height: 30%;
    top: -3px;
    left: -3px;
    transition: 0.3s all ease-in-out;
  }
  &::after {
    position: absolute;
    content: "";
    border-bottom: solid 3px $bleunuit;
    border-right: solid 3px $bleunuit;
    width: 10%;
    height: 30%;
    bottom: -3px;
    right: -3px;
    transition: 0.3s all ease-in-out;
  }
  &:hover {
    color: $jaunepoke;
  }
  &:hover::after,
  &:hover::before {
    width: 104%;
    height: 108%;
    border-color: $jaunepoke;
  }
}

@mixin hideSR {
  clip: rect (1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}

@mixin icon($size, $url) {
  &::before {
    content: "";
    background: url($url) no-repeat;
    background-size: 100%;
    width: $size;
    height: $size;
    display: inline-block;
    transition: transform 1s;
    vertical-align: middle;
    margin-right: 0.5em;
  }
  &:hover::before {
    transform: rotate(360deg) translateZ(0);
  }
}
