
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

header {
    height: 70px;

    img {
        height: 90px;
        margin-top: -10px;
        margin-left: 10px;
    }

    nav {
        width: 100%;
    }

    section {
        height: 70px;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        a {
            margin-left: 60px;
            text-decoration: none;
            color: $bleunuit;
            font-family: abel, sans-serif;
            font-size: 24px;
            border-bottom: 2px solid $vide;
            padding: 15px 15px;
            white-space: nowrap;
            &:hover {
                border-bottom: 2px solid $bleunuit;
                color: $bleunuit;
            }
        }
    }
    a {
        text-decoration: none;
        color: $bleunuit;
        margin-right: 40px;
        

        &::before {
            font-size: 24px;
            @include visually-hidden();
        }
    }
}


