
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

header {
    height: 70px;

    img {
        height: 90px;
        margin-left: 10px;
    }

    nav {
        width: 100%;
        height: 100%;
    }

    section {
        height: 70px;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-right: 80px;

        .link-nav {
            margin-left: 60px;
            text-decoration: none;
            color: $bleunuit;
            font-family: abel, sans-serif;
            font-size: 24px;
            border-bottom: 2px solid $vide;
            padding: 15px 15px;
            white-space: nowrap;
            &:hover {
                border-bottom: 2px solid $bleunuit;
                color: $bleunuit;
            }
        }
    }
    .icon-menu {
        text-decoration: none;
        color: $bleunuit;
        margin-right: 40px;
        

        &::before {
            font-size: 24px;
            
        }
    }
}

@include media-breakpoint-up(md) {
    header {
        .icon-menu {
            &::before {
                @include visually-hidden();
            }
        }
    }
}

@include media-breakpoint-down(lg) {
header {
    height: 60px;

    img {
        height: 70px;
    }

    nav {
        height: 100%;
    }

    section {
        height: 100%px;
        .link-nav {
            margin-left: 20px;
            font-size: 20px;
            padding: 10px 10px;
        }
    }
}
}

@include media-breakpoint-down(md) {
    header {
        section {
            .link-nav {
                @include visually-hidden();
                
            }
        }
    }
    }


